<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Biblioteca</title>
</head>
<body>

<h1>Biblioteca Digital</h1>

<h2>Inicio de sesion exitoso</h2>

<p>
    Bienvenido al sistema de biblioteca.
</p>

<form th:action="@{/logout}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">

    <button type="submit">
        Cerrar sesion
    </button>

</form>

</body>
</html>
